@model List<FitnessApp2.Models.ViewModels.RegisterGuestViewModel>
@{
    ViewData["Title"] = "Register Guests";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr />
<!-- *********** temp messages for 5s *************** -->
@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <strong>Success! </strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form>
    <table class="table table-responsive table-hover">
        <thead>
            <tr class="table-active">
                <th class="text-center">Id</th>
                <th class="text-center">FirstName</th>
                <th class="text-center">LastName</th>
                <th class="text-center">AssignedCourses</th>
                <th class="text-center">Action Buttons</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var registerGuest in Model)
                {
                    <tr>
                        <td class="text-center">@registerGuest.Id</td>
                        <td class="text-center">@registerGuest.FirstName</td>
                        <td class="text-center">@registerGuest.LastName</td>
                        <td class="text-center">
                            @if (registerGuest.AssignedCourses is not null)
                            {
                                @foreach (var courseName in registerGuest.AssignedCourses)
                                {
                                    <div>@courseName</div>
                                }
                            }
                            else
                            {
                                <div>No Courses were assigned to guest.</div>
                            }
                        </td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="RegisterGuest" asp-action="EditRegisterGuest" asp-route-id="@registerGuest.Id" class="btn btn-primary">Register Guest To Course</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            No Guests have been created yet!
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

